.main {
  padding-bottom: 103px;

  .services-list {
    display: flex;
    justify-content: center;
    padding-block: 35px;
    align-items: top;
    gap: 57px;
  }

  .galeria {
    p {
      font-size: 1rem;
      margin-bottom: 30px;
    }

    .photos {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.about {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 46px;
    background-position: bottom;
    background-image: url('/deco-top.svg');
    background-repeat: repeat-x;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
  }
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 46px;
    background-position: bottom;
    background-image: url('/deco-bottom.svg');
    background-repeat: repeat-x;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
  }

  .about-content {
    padding-block: 64px;

    .title-alt {
      margin-bottom: 10px;
    }

    .glaise-bolos {
      display: flex;
      justify-content: space-between;
      align-items: center;
        .img-container {
            display: flex;
          max-width: 291px;
          max-height: 291px;
          img {
            width: 100%;
          }
        }

      .text-container {
        p {
          font-size: 1rem;
          color: #fff;
          max-width: 485px;
          text-align: justify;
        }
      }
    }
  }
}

.contact-content {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-list {
    display: flex;
    gap: 44px;
    align-items: center;
    margin-block: 26px;

    .contact-card {
      display: flex;
      align-items: center;
      padding: 17px 30px;
      background: #fff;
      box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 20%);
      border-radius: 55px;
      font-size: 1.125rem;
      gap: 3px;
      cursor: pointer;
      transition: 0.1s;

      .whatsapp{
        color: #25d366;
        font-size: 1.5rem;

      }
      .instagram{
        color: #FF17AA;
        font-size: 1.5rem;
      }
      .telephone{
        font-size: 1.5rem;
      }


      &:hover {
        transform: scale(1.05);
        transition: 0.1s;
        color: #fff;

        &.whats {
          background: #25d366;
          .whatsapp{
            color: #fff !important;
          }
        }
        &.insta {
          background: #FF17AA;
          .instagram{
            color: #fff !important;
          }
        }
        &.phone {
          background: #814827;
          .telephone{
            color: #fff !important;
          }
        }
      }
    }


    
  }
}
